<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.PageTitle - ShopeeFood Clone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopeeFood_WebApp.styles.css" asp-append-version="true" />
    <link rel="icon" type="favicon" href="../img/Logo-ShopeefoodVN.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

     @{
         var cssList = new List<string> {
            "header-menu.css",
            "banner.css",
            "footer.css",
         };
         await Html.RenderPartialAsync("_Css_Js_Render", cssList);
     }

</head>
<body>
    <div class="loader-redirect-overlay">
        <div class="loader-redirect"></div>
    </div>

    <!-- Render Header using ViewComponet -->
    @await Component.InvokeAsync("Header", new { cityId = 1 });
    <!-------------------------------------->

    <!---------------------- BANNER - LEFT ---------------------->
    <div class="banner" id="banner-left">
        <div class="banner-container">
            <div class="now-search">
                <div>
                    <h1 class="title">Đặt Đồ ăn, giao hàng từ 20'...</h1>
                    <div class="local">có 87917 địa điểm ở TP. HCM từ 00:00 - 23:59</div>
                </div>

                <div class="form-search">
                    <div class="input-group">
                        <input type="text" id="txtSearchHome" placeholder="Tìm địa điểm, món ăn, địa chỉ..."
                               value="">
                        <a href="/ho-chi-minh/danh-sach-dia-diem-giao-tan-noi?q=">
                            <button type="button" class="btn btn-search">
                                <span class="icon icon-search"></span>
                            </button>
                        </a>
                    </div>
                    <div class="searching" id="searching-banner">
                        <div class="restaurant-item">
                            <img alt="Dish image" class="restaurant-image" height="50"
                                 src="https://storage.googleapis.com/a1aa/image/M7U0WhaRPSxs0tSEotGVzBX-Jl0R3jGg4WWqFmaSUaM.jpg"
                                 width="50" />
                            <div class="restaurant-details">
                                <p class="restaurant-name">
                                    Cơm Tấm Phúc Lộc Thọ - Nguyễn Thị Thập
                                </p>
                                <p class="restaurant-address">
                                    223 Nguyễn Thị Thập, P. Tân Phú, Quận 7, TP. HCM
                                </p>
                            </div>
                            <div class="restaurant-status">
                                Mở cửa
                                <i class="fas fa-circle">
                                </i>
                            </div>
                        </div>
                        <div class="restaurant-item">
                            <img alt="Dish image" class="restaurant-image" height="50"
                                 src="https://storage.googleapis.com/a1aa/image/M7U0WhaRPSxs0tSEotGVzBX-Jl0R3jGg4WWqFmaSUaM.jpg"
                                 width="50" />
                            <div class="restaurant-details">
                                <p class="restaurant-name">
                                    Cơm Tấm Phúc Lộc Thọ - Tô Ký
                                </p>
                                <p class="restaurant-address">
                                    12/6 Tô Ký, P. Tân Chánh Hiệp, Quận 12, TP. HCM
                                </p>
                            </div>
                            <div class="restaurant-status">
                                Mở cửa
                                <i class="fas fa-circle">
                                </i>
                            </div>
                        </div>
                        <div class="restaurant-item">
                            <img alt="Dish image" class="restaurant-image" height="50"
                                 src="https://storage.googleapis.com/a1aa/image/M7U0WhaRPSxs0tSEotGVzBX-Jl0R3jGg4WWqFmaSUaM.jpg"
                                 width="50" />
                            <div class="restaurant-details">
                                <p class="restaurant-name">
                                    Cơm Tấm Phúc Lộc Thọ - Lê Đức Thọ
                                </p>
                                <p class="restaurant-address">
                                    38 Lê Đức Thọ, P. 7, Gò Vấp, TP. HCM
                                </p>
                            </div>
                            <div class="restaurant-status">
                                Mở cửa
                                <i class="fas fa-circle">
                                </i>
                            </div>
                        </div>
                        <div class="restaurant-item">
                            <img alt="Dish image" class="restaurant-image" height="50"
                                 src="https://storage.googleapis.com/a1aa/image/M7U0WhaRPSxs0tSEotGVzBX-Jl0R3jGg4WWqFmaSUaM.jpg"
                                 width="50" />
                            <div class="restaurant-details">
                                <p class="restaurant-name">
                                    Cơm Tấm Phúc Lộc Thọ - 155 Lê Văn Quới
                                </p>
                                <p class="restaurant-address">
                                    155 Lê Văn Quới, P. Bình Trị Đông, Bình Tân, TP. HCM
                                </p>
                            </div>
                            <div class="restaurant-status">
                                Mở cửa
                                <i class="fas fa-circle">
                                </i>
                            </div>
                        </div>
                        <div class="search-more">
                            <i class="fas fa-search">
                            </i>
                            <span>
                                Tìm thêm kết quả cho
                                <strong>
                                    cơm
                                </strong>
                            </span>
                        </div>
                    </div>
                    <div id="loader-searching-banner" class="loader" style="margin: auto;"></div>
                </div>

                <div class="category-list-filter">
                    <a href="/ho-chi-minh/danh-sach-dia-diem-giao-tan-noi">
                        <span class="category-item ">All</span>
                    </a>
                    <a href="/ho-chi-minh/danh-sach-dia-diem-phuc-vu-food-giao-tan-noi">
                        <span class="category-item ">Đồ ăn</span>
                    </a>
                    <a href="/ho-chi-minh/danh-sach-dia-diem-phuc-vu-drink-giao-tan-noi">
                        <span class="category-item ">Đồ uống</span>
                    </a>
                    <a href="/ho-chi-minh/danh-sach-dia-diem-phuc-vu-vegetarian-giao-tan-noi">
                        <span class="category-item ">Đồ chay</span>
                    </a>
                    <a href="/ho-chi-minh/danh-sach-dia-diem-phuc-vu-cake-pastry-giao-tan-noi">
                        <span class="category-item ">Bánh kem</span>
                    </a>
                    <a href="/ho-chi-minh/danh-sach-dia-diem-phuc-vu-desserts-giao-tan-noi">
                        <span class="category-item ">Tráng miệng</span>
                    </a>
                    <a href="/ho-chi-minh/danh-sach-dia-diem-phuc-vu-pizza-pasta-burger-giao-tan-noi">
                        <span class="category-item ">Pizza/Burger</span>
                    </a>
                    <a href="/ho-chi-minh/danh-sach-dia-diem-phuc-vu-hotpot-giao-tan-noi">
                        <span class="category-item ">Món lẩu</span>
                    </a>
                    <a href="/ho-chi-minh/danh-sach-dia-diem-phuc-vu-sushi-giao-tan-noi">
                        <span class="category-item ">Sushi</span>
                    </a>
                    <a href="/ho-chi-minh/danh-sach-dia-diem-phuc-vu-soup-based-giao-tan-noi">
                        <span class="category-item ">Mì phở</span>
                    </a>
                    <a href="/ho-chi-minh/danh-sach-dia-diem-phuc-vu-rice-giao-tan-noi">
                        <span class="category-item ">Cơm hộp</span>
                    </a>
                </div>

                <div>
                    <div class="font18 mb-2 mt-3" style="margin-left: 5px;">
                        Sử dụng App ShopeeFood để có nhiều giảm
                        giá <br>và trải nghiệm tốt hơn
                    </div>
                    <a target="_blank" rel="noopener noreferrer"
                       href="https://play.google.com/store/apps/details?id=com.deliverynow"
                       title="Google play">
                        <span class="icon icon-gg-play-big"></span>
                    </a>
                    <a target="_blank" rel="noopener noreferrer"
                       href="https://itunes.apple.com/us/app/deliverynow/id1137866760" title="App Store">
                        <span class="icon icon-app-store-big"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!---------------------- END BANNER - LEFT ---------------------->

    <!---------------------- BANNER - RIGHT ---------------------->
    @{
        await Html.RenderPartialAsync("_ContentBannerRight");
    }
    <!---------------------- END BANNER - RIGHT ---------------------->

    <div class="container">
        @RenderBody()
    </div>

    <!-- Render footer using ViewComponent -->
    @await Component.InvokeAsync("Footer")
    <!--------------------------------------->

    <!-- Render JS -->
    @{
        var jsListEnd = new List<string> {
            "header-menu.js",
            "banner.js",
        };  
        await Html.RenderPartialAsync("_Css_Js_Render", jsListEnd);
    }
    <!-- END RENDER -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
    <!-- Create section Script to Render block js code of the child view (If use) -->
    <!-- The child view that want to "Script"" section must be declare:
    @* @section Scripts {
            <script>
                console.log("Hello from index view!");
            </script>
    } *@
    
    Snippet code will be render in Script section
    -->
</body>
</html>
