



<!---------------------- BANNER - RIGHT ---------------------->
<div class="banner-right clearfix" id="banner-right">
    <div class="banner-right-container">
        <div class="main-banner-right-home">
            <div class="user-get-local">
                <div class="row align-items-center no-gutters pointer">
                    <div class="col-auto">
                        <span class="txt-blue txt-bold">Đồ ăn</span>
                        <i class="icon-arrow-right"></i>
                    </div>
                    <div class="col">Chọn địa chỉ giao hàng</div>
                    <div class="col-auto">
                        <span class=""><i class="icon-next"></i></span>
                    </div>
                </div>
            </div>

            <div class="list-res-banner-right">
                <div class="title-wrapper">
                    <h2 class="title">Ưu đãi</h2>
                    <a class="view-all-deal" id="seeAllBtn" href="/category/shops">
                        <span class="icon-list-deal">
                            <span class="square"></span>
                            <span class="square"></span>
                            <span class="square"></span>
                            <span class="square"></span>
                        </span>
                    </a>
                </div>

                <div class="list-restaurant">
                    <div class="now-loading-restaurant">
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                    </div>
                    <div class="item-restaurant">
                        <a target="_blank" class="item-content"
                           href="/ho-chi-minh/banh-mi-thit-nuong-don-don-banh-mi-cha-ca-sua-bap-5-luu-dinh-le">
                            <div class="img-restaurant">
                                <div class="tag-preferred">
                                    <i class="icon-like" aria-hidden="true"></i>Yêu thích
                                </div>
                                <img src="https://down-bs-vn.img.susercontent.com/vn-11134513-7ras8-m20poujd9jffba@resize_ss280x175!"
                                     class="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res"
                                        title="Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ">
                                        Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ
                                    </h4>
                                    <div class="address-res"
                                         title="5 Lưu Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM">
                                        5 Lưu
                                        Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM
                                    </div>
                                </div>
                                <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="list-res-banner-right list-res-district">
                <div class="header-tab row align-items-center">
                    <div class="col">
                        <button class="item-tab false">Gần tôi</button>
                        <button class="item-tab active">Bán chạy</button>
                        <button class="item-tab false">Đánh giá</button>
                        <button class="item-tab false">Giao nhanh</button>
                    </div>
                    <div class="col-auto">
                        <select name="districtId">
                            <option value="-1">Chọn quận/ huyện</option>
                            <option value="1">Quận 1</option>
                            <option value="2">Gò Vấp</option>
                            <option value="4">Quận 2</option>
                            <option value="5">Quận 3</option>
                            <option value="6">Quận 4</option>
                            <option value="7">Quận 5</option>
                            <option value="8">Quận 6</option>
                            <option value="9">Quận 7</option>
                            <option value="10">Quận 8</option>
                            <option value="11">Quận 9</option>
                        </select>
                    </div>
                </div>

                <div class="list-restaurant-district">
                    <div class="now-loading-restaurant">
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                    </div>
                    <div class="item-restaurant-district">
                        <a class="item-content" href="#">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <div class="img-restaurant">
                                        <img src="https://down-spe-vn.img.susercontent.com/vn-11134513-7r98o-lstxn3t869axee@resize_ss280x175!"
                                             class="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="info-restaurant">
                                        <div class="name-res">
                                            <span class="icon-quality-merchant"
                                                  title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood">

                                            </span>Xôi Bình Tiên
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="address-res mb-1">
                                                    78/2 Phạm Viết Chánh, P. 19, Bình
                                                    Thạnh, TP. HCM
                                                </div>
                                            </div>

                                        </div>
                                        <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                    </div>
                                </div>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant-district">
                        <a class="item-content" href="#">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <div class="img-restaurant">
                                        <img src="https://down-spe-vn.img.susercontent.com/vn-11134513-7r98o-lstxn3t869axee@resize_ss280x175!"
                                             class="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="info-restaurant">
                                        <div class="name-res">
                                            <span class="icon-quality-merchant"
                                                  title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood">

                                            </span>Xôi Bình Tiên
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="address-res mb-1">
                                                    78/2 Phạm Viết Chánh, P. 19, Bình
                                                    Thạnh, TP. HCM
                                                </div>
                                            </div>

                                        </div>
                                        <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                    </div>
                                </div>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant-district">
                        <a class="item-content" href="#">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <div class="img-restaurant">
                                        <img src="https://down-spe-vn.img.susercontent.com/vn-11134513-7r98o-lstxn3t869axee@resize_ss280x175!"
                                             class="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="info-restaurant">
                                        <div class="name-res">
                                            <span class="icon-quality-merchant"
                                                  title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood">

                                            </span>Xôi Bình Tiên
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="address-res mb-1">
                                                    78/2 Phạm Viết Chánh, P. 19, Bình
                                                    Thạnh, TP. HCM
                                                </div>
                                            </div>

                                        </div>
                                        <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                    </div>
                                </div>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant-district">
                        <a class="item-content" href="#">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <div class="img-restaurant">
                                        <img src="https://down-spe-vn.img.susercontent.com/vn-11134513-7r98o-lstxn3t869axee@resize_ss280x175!"
                                             class="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="info-restaurant">
                                        <div class="name-res">
                                            <span class="icon-quality-merchant"
                                                  title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood">

                                            </span>Xôi Bình Tiên
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="address-res mb-1">
                                                    78/2 Phạm Viết Chánh, P. 19, Bình
                                                    Thạnh, TP. HCM
                                                </div>
                                            </div>

                                        </div>
                                        <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                    </div>
                                </div>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant-district">
                        <a class="item-content" href="#">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <div class="img-restaurant">
                                        <img src="https://down-spe-vn.img.susercontent.com/vn-11134513-7r98o-lstxn3t869axee@resize_ss280x175!"
                                             class="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="info-restaurant">
                                        <div class="name-res">
                                            <span class="icon-quality-merchant"
                                                  title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood">

                                            </span>Xôi Bình Tiên
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="address-res mb-1">
                                                    78/2 Phạm Viết Chánh, P. 19, Bình
                                                    Thạnh, TP. HCM
                                                </div>
                                            </div>

                                        </div>
                                        <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                    </div>
                                </div>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="list-res-banner-right">
                <div class="title-wrapper">
                    <h2 class="title">Ưu đãi</h2>
                    <a class="view-all-deal" href="/ho-chi-minh/food/deals">
                        <span class="icon-list-deal">
                            <span class="square"></span>
                            <span class="square"></span>
                            <span class="square"></span>
                            <span class="square"></span>
                        </span>Xem tất cả
                    </a>
                </div>

                <div class="list-restaurant">
                    <div class="now-loading-restaurant">
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                        <div class="box-loading">
                            <div class="box-thumbnail"></div>
                            <div class="box-line-df"></div>
                            <div class="box-line-lgx"></div>
                            <div class="box-line-lg"></div>
                        </div>
                    </div>
                    <div class="item-restaurant">
                        <a target="_blank" class="item-content"
                           href="/ho-chi-minh/banh-mi-thit-nuong-don-don-banh-mi-cha-ca-sua-bap-5-luu-dinh-le">
                            <div class="img-restaurant">
                                <div class="tag-preferred">
                                    <i class="icon-like" aria-hidden="true"></i>Yêu thích
                                </div>
                                <img src="https://down-bs-vn.img.susercontent.com/vn-11134513-7ras8-m20poujd9jffba@resize_ss280x175!"
                                     class="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res"
                                        title="Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ">
                                        Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ
                                    </h4>
                                    <div class="address-res"
                                         title="5 Lưu Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM">
                                        5 Lưu
                                        Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM
                                    </div>
                                </div>
                                <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a target="_blank" class="item-content"
                           href="/ho-chi-minh/banh-mi-thit-nuong-don-don-banh-mi-cha-ca-sua-bap-5-luu-dinh-le">
                            <div class="img-restaurant">
                                <div class="tag-preferred">
                                    <i class="icon-like" aria-hidden="true"></i>Yêuthích
                                </div>
                                <img src="https://down-bs-vn.img.susercontent.com/vn-11134513-7ras8-m20poujd9jffba@resize_ss280x175!"
                                     class="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res"
                                        title="Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ">
                                        Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ
                                    </h4>
                                    <div class="address-res"
                                         title="5 Lưu Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM">
                                        5 Lưu
                                        Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM
                                    </div>
                                </div>
                                <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a target="_blank" class="item-content"
                           href="/ho-chi-minh/banh-mi-thit-nuong-don-don-banh-mi-cha-ca-sua-bap-5-luu-dinh-le">
                            <div class="img-restaurant">
                                <div class="tag-preferred">
                                    <i class="icon-like" aria-hidden="true"></i>Yêuthích
                                </div>
                                <img src="https://down-bs-vn.img.susercontent.com/vn-11134513-7ras8-m20poujd9jffba@resize_ss280x175!"
                                     class="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res"
                                        title="Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ">
                                        Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ
                                    </h4>
                                    <div class="address-res"
                                         title="5 Lưu Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM">
                                        5 Lưu
                                        Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM
                                    </div>
                                </div>
                                <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a target="_blank" class="item-content"
                           href="/ho-chi-minh/banh-mi-thit-nuong-don-don-banh-mi-cha-ca-sua-bap-5-luu-dinh-le">
                            <div class="img-restaurant">
                                <div class="tag-preferred">
                                    <i class="icon-like" aria-hidden="true"></i>Yêuthích
                                </div>
                                <img src="https://down-bs-vn.img.susercontent.com/vn-11134513-7ras8-m20poujd9jffba@resize_ss280x175!"
                                     class="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res"
                                        title="Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ">
                                        Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ
                                    </h4>
                                    <div class="address-res"
                                         title="5 Lưu Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM">
                                        5 Lưu
                                        Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM
                                    </div>
                                </div>
                                <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a target="_blank" class="item-content"
                           href="/ho-chi-minh/banh-mi-thit-nuong-don-don-banh-mi-cha-ca-sua-bap-5-luu-dinh-le">
                            <div class="img-restaurant">
                                <div class="tag-preferred">
                                    <i class="icon-like" aria-hidden="true"></i>Yêuthích
                                </div>
                                <img src="https://down-bs-vn.img.susercontent.com/vn-11134513-7ras8-m20poujd9jffba@resize_ss280x175!"
                                     class="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res"
                                        title="Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ">
                                        Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ
                                    </h4>
                                    <div class="address-res"
                                         title="5 Lưu Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM">
                                        5 Lưu
                                        Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM
                                    </div>
                                </div>
                                <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a target="_blank" class="item-content"
                           href="/ho-chi-minh/banh-mi-thit-nuong-don-don-banh-mi-cha-ca-sua-bap-5-luu-dinh-le">
                            <div class="img-restaurant">
                                <div class="tag-preferred">
                                    <i class="icon-like" aria-hidden="true"></i>Yêuthích
                                </div>
                                <img src="https://down-bs-vn.img.susercontent.com/vn-11134513-7ras8-m20poujd9jffba@resize_ss280x175!"
                                     class="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res"
                                        title="Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ">
                                        Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ
                                    </h4>
                                    <div class="address-res"
                                         title="5 Lưu Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM">
                                        5 Lưu
                                        Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM
                                    </div>
                                </div>
                                <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a target="_blank" class="item-content"
                           href="/ho-chi-minh/banh-mi-thit-nuong-don-don-banh-mi-cha-ca-sua-bap-5-luu-dinh-le">
                            <div class="img-restaurant">
                                <div class="tag-preferred">
                                    <i class="icon-like" aria-hidden="true"></i>Yêuthích
                                </div>
                                <img src="https://down-bs-vn.img.susercontent.com/vn-11134513-7ras8-m20poujd9jffba@resize_ss280x175!"
                                     class="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res"
                                        title="Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ">
                                        Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ
                                    </h4>
                                    <div class="address-res"
                                         title="5 Lưu Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM">
                                        5 Lưu
                                        Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM
                                    </div>
                                </div>
                                <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a target="_blank" class="item-content"
                           href="/ho-chi-minh/banh-mi-thit-nuong-don-don-banh-mi-cha-ca-sua-bap-5-luu-dinh-le">
                            <div class="img-restaurant">
                                <div class="tag-preferred">
                                    <i class="icon-like" aria-hidden="true"></i>Yêuthích
                                </div>
                                <img src="https://down-bs-vn.img.susercontent.com/vn-11134513-7ras8-m20poujd9jffba@resize_ss280x175!"
                                     class="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res"
                                        title="Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ">
                                        Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ
                                    </h4>
                                    <div class="address-res"
                                         title="5 Lưu Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM">
                                        5 Lưu
                                        Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM
                                    </div>
                                </div>
                                <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-restaurant">
                        <a target="_blank" class="item-content"
                           href="/ho-chi-minh/banh-mi-thit-nuong-don-don-banh-mi-cha-ca-sua-bap-5-luu-dinh-le">
                            <div class="img-restaurant">
                                <div class="tag-preferred">
                                    <i class="icon-like" aria-hidden="true"></i>Yêuthích
                                </div>
                                <img src="https://down-bs-vn.img.susercontent.com/vn-11134513-7ras8-m20poujd9jffba@resize_ss280x175!"
                                     class="">
                            </div>
                            <div class="info-restaurant">
                                <div class="info-basic-res">
                                    <h4 class="name-res"
                                        title="Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ">
                                        Bánh Mì Thịt Nướng Dòn Dòn, Bánh Mì Chả Cá &amp; Sữa Bắp - 5 Lưu Đình Lễ
                                    </h4>
                                    <div class="address-res"
                                         title="5 Lưu Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM">
                                        5 Lưu
                                        Đình Lễ, P. An Khánh, Thành Phố Thủ Đức, TP. HCM
                                    </div>
                                </div>
                                <p class="content-promotion"><i class="icon-tag"></i> Giảm món</p>
                                <div class="opentime-status">
                                    <span class="stt online" title="Mở cửa"
                                          style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------- END BANNER - RIGHT ---------------------->