@using ShopeeFood_WebApp.Services
@using ShopeeFood_WebApp.Models.Banners


@model BannerLeftViewModel
@{
    var httpContext = HttpContextAccessor.HttpContext;
    if (httpContext is null)
    {
        httpContext = this.Context;
    }

    var services = httpContext.RequestServices.GetService<ModuleContentSerivces>();

    var dataContent = await services.GetContentBannerLeft();
}

<div class="banner" id="banner-left">
    <div class="banner-container">
        <div class="now-search">
            <div>
                <h1 class="title">@dataContent.TitleBanner</h1>
                <div class="local">@dataContent.Local</div>
            </div>

            <div class="form-search">
                <div class="input-group">
                    <input type="text" id="txtSearchHome" placeholder="Tìm địa điểm, món ăn, địa chỉ..."
                           value="">
                    <a href="/ho-chi-minh/danh-sach-dia-diem-giao-tan-noi?q=">
                        <button type="button" class="btn btn-search">
                            <span class="icon icon-search"></span>
                        </button>
                    </a>
                </div>
                <div class="searching" id="searching-banner">
                    <div class="restaurant-item">
                        <img alt="Dish image" class="restaurant-image" height="50"
                             src="https://storage.googleapis.com/a1aa/image/M7U0WhaRPSxs0tSEotGVzBX-Jl0R3jGg4WWqFmaSUaM.jpg"
                             width="50" />
                        <div class="restaurant-details">
                            <p class="restaurant-name">
                                Cơm Tấm Phúc Lộc Thọ - Nguyễn Thị Thập
                            </p>
                            <p class="restaurant-address">
                                223 Nguyễn Thị Thập, P. Tân Phú, Quận 7, TP. HCM
                            </p>
                        </div>
                        <div class="restaurant-status">
                            Mở cửa
                            <i class="fas fa-circle">
                            </i>
                        </div>
                    </div>
                    <div class="restaurant-item">
                        <img alt="Dish image" class="restaurant-image" height="50"
                             src="https://storage.googleapis.com/a1aa/image/M7U0WhaRPSxs0tSEotGVzBX-Jl0R3jGg4WWqFmaSUaM.jpg"
                             width="50" />
                        <div class="restaurant-details">
                            <p class="restaurant-name">
                                Cơm Tấm Phúc Lộc Thọ - Tô Ký
                            </p>
                            <p class="restaurant-address">
                                12/6 Tô Ký, P. Tân Chánh Hiệp, Quận 12, TP. HCM
                            </p>
                        </div>
                        <div class="restaurant-status">
                            Mở cửa
                            <i class="fas fa-circle">
                            </i>
                        </div>
                    </div>
                    <div class="restaurant-item">
                        <img alt="Dish image" class="restaurant-image" height="50"
                             src="https://storage.googleapis.com/a1aa/image/M7U0WhaRPSxs0tSEotGVzBX-Jl0R3jGg4WWqFmaSUaM.jpg"
                             width="50" />
                        <div class="restaurant-details">
                            <p class="restaurant-name">
                                Cơm Tấm Phúc Lộc Thọ - Lê Đức Thọ
                            </p>
                            <p class="restaurant-address">
                                38 Lê Đức Thọ, P. 7, Gò Vấp, TP. HCM
                            </p>
                        </div>
                        <div class="restaurant-status">
                            Mở cửa
                            <i class="fas fa-circle">
                            </i>
                        </div>
                    </div>
                    <div class="restaurant-item">
                        <img alt="Dish image" class="restaurant-image" height="50"
                             src="https://storage.googleapis.com/a1aa/image/M7U0WhaRPSxs0tSEotGVzBX-Jl0R3jGg4WWqFmaSUaM.jpg"
                             width="50" />
                        <div class="restaurant-details">
                            <p class="restaurant-name">
                                Cơm Tấm Phúc Lộc Thọ - 155 Lê Văn Quới
                            </p>
                            <p class="restaurant-address">
                                155 Lê Văn Quới, P. Bình Trị Đông, Bình Tân, TP. HCM
                            </p>
                        </div>
                        <div class="restaurant-status">
                            Mở cửa
                            <i class="fas fa-circle">
                            </i>
                        </div>
                    </div>
                    <div class="search-more">
                        <i class="fas fa-search">
                        </i>
                        <span>
                            Tìm thêm kết quả cho
                            <strong>
                                cơm
                            </strong>
                        </span>
                    </div>
                </div>
                <div id="loader-searching-banner" class="loader" style="margin: auto;"></div>
            </div>

            <div class="category-list-filter">
                @foreach (var item in dataContent.Categories)
                {
                    <a href="/ho-chi-minh/danh-sach-dia-diem-giao-tan-noi">
                        <span class="category-item ">@item</span>
                    </a>
                }
            </div>

            <div>
                <div class="font18 mb-2 mt-3" style="margin-left: 5px;">
                    Sử dụng App ShopeeFood để có nhiều giảm
                    giá <br>và trải nghiệm tốt hơn
                </div>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://play.google.com/store/apps/details?id=com.deliverynow"
                   title="Google play">
                    <span class="icon icon-gg-play-big"></span>
                </a>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://itunes.apple.com/us/app/deliverynow/id1137866760" title="App Store">
                    <span class="icon icon-app-store-big"></span>
                </a>
            </div>
        </div>
    </div>
</div>
