


<footer class="main-footer">
    <div class="container">
        <div class="container-inner">
            <div class="block-footer">
                <p class="title-block">Công ty</p>
                <ul class="menu-footer">
                    <li class="menu-item"><a href="#">Giới thiệu</a></li>
                    <li class="menu-item">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            Trung tâm Trợ
                            giúp
                        </a>
                    </li>
                    <li class="menu-item"><a href="#">Quy chế</a></li>
                    <li class="menu-item"><a href="#">Điều khoản sử dụng</a></li>
                    <li class="menu-item"><a href="#">Bảo mật thông tin</a></li>
                    <li class="menu-item"><a href="#">Giải quyết khiếu nại</a></li>
                    <li class="menu-item"><a href="#">Liên hệ</a></li>
                    <li class="menu-item"><a href="#">Hợp tác nhân viên giao nhận</a></li>
                    <li class="menu-item"><a href="#">Đăng ký quán</a></li>
                    <li class="menu-item"><a href="#">ShopeeFood Uni</a></li>
                    <li class="menu-item"><a href="#" target="_blank" rel="noopener noreferrer">Shopee Blog</a></li>
                </ul>
            </div>

            <div class="block-footer">
                <p class="title-block">Ứng dụng ShopeeFood</p>
                <a class="apps" target="_blank" rel="noopener noreferrer nofollow" href="#" title="Down app iOS">
                    <span class="apps__app-store-vi" title="Down app iOS"></span>
                </a>
                <a class="apps" target="_blank" rel="noopener noreferrer nofollow" href="/"
                   title="Down app Android">
                    <span class="apps__play-store-vi" title="Down app Android"></span>
                </a>
                <a class="apps" target="_blank" rel="noopener noreferrer nofollow" href="/"
                   title="Down app Huawei Gallery">
                    <span class="apps__huawei-gallery-vi" title="Down app Huawei"></span>
                </a>
            </div>

            <div class="block-footer txt-center">
                <div class="logo-footer">
                    <a class="link" href="/">
                        <img id="delivery-footer-logo" src="~/Content/ThemeV1/img/Logo-ShopeefoodVN.png"
                             alt="Đặt món trực tuyến giao hàng tận nơi" title="Đặt món trực tuyến giao hàng tận nơi"
                             width="100">
                    </a>
                </div>
                <p class="font12">© 2025 ShopeeFood</p>
                <ul class="social-ico">
                    <li>
                        <a target="_blank" rel="noopener noreferrer nofollow" href="#" title="Facebook">
                            <span class="facebook ico"><i class="fab fa-facebook-f"></i></span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer nofollow" href="#" title="Instagram">
                            <span class="instagram ico"><i class="fab fa-instagram"></i></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="block-last">
                <p class="title-block">Địa chỉ công ty</p>
                <span>
                    <p>Công Ty Cổ Phần Foody</p>
                    <p>Lầu G, Tòa nhà Jabes 1,</p>
                    <p>số 244 đường Cống Quỳnh, phường Phạm Ngũ Lão, Quận 1, TPHCM</p>
                    <p>Giấy CN ĐKDN số: 0311828036</p>
                    <p>do Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 11/6/2012,</p>
                    <p>sửa đổi lần thứ 23, ngày 10/12/2020</p>
                    <p>
                        Chịu trách nhiệm quản lý nội dung và vấn đề bảo vệ quyền lợi người tiêu dùng: Nguyễn Hồ Quảng
                        Giang
                    </p>
                    <p>Điện thoại liên hệ: 028 71096879</p>
                    <p>Email: <a href="mailto:support@shopeefood.vn">support@shopeefood.vn</a></p>
                </span>
                <span class="registered">
                    <a target="_blank" rel="noopener noreferrer nofollow" href="#"
                       title="ĐÃ ĐĂNG KÝ BỘ CÔNG THƯƠNG">
                        <img alt="ĐÃ ĐĂNG KÝ BỘ CÔNG THƯƠNG" src="~/Content/ThemeV1/img/gov_seals1.jpg">
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div id="footer-bottom"></div>
</footer>